@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The foremsot authority for good humor that you will find anywhereon your local host</p>
</div>
